<!--Esta es la vista de su respectivo componente/controlador-->
<!--Solo con la parte HTML que se necesita, no todo-->

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>

        <!--Usamos ciclos dentro de HTML lol-->
        <!--*ngFor="let iter of coleccion", iter es una variable local al ciclo y -->
        <!-- coleccion es un atributo que DEBE estar definido en el componente -->

        <tr *ngFor="let serie of series">
          <td>
            <dd>{{serie.id}}</dd>
          </td>
          <td>
            <dd>{{serie.nombre}}</dd>
          </td>
          <td>
            <dd>{{serie.canal}}</dd>
          </td>
          <td>
            <dd>{{serie.temporadas}}</dd>
          </td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
